{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block content %} 
  <h1>Register</h1> 
  
  {% if error %}
 	<b>{{ error }}</b><br /><br />
  {% endif %}
 
  <form method="POST" name="register" action="/register/register">
   Username: <br /><input type="text" name="username" value="{{ username }}" /> <br />
   Email: <br /><input type="text" name="email" value="{{ email }}" /> <br />
   Password: <br /><input type="password" name="password" value="" /> <br />
   Password Again: <br /><input type="password" name="password2" value="" /> <br />
   <input type="hidden" name="token" value="{{ token }}" />
   <input type="submit" name="submit" value="Register" />
  </form>
{% endblock %}