{% extends "layout.html" %}
{% block title %}Reset Password{% endblock %}
{% block content %} 
  <h1>Reset Password</h1>
  
  {% if error %}
 	<b>{{ error }}</b><br /><br />
  {% endif %}
  
  Please enter a new password below:<br />	
  <form method="POST" name="login" action="/login/resetPasswordAction">
   Password: <input type="password" name="password" value="" /> <br />
   Password Again: <input type="password" name="password2" value="" /> <br />
   <input type="hidden" name="hash" value="{{ hash }}" />
   <input type="hidden" name="id" value="{{ id }}" /> 
   <input type="hidden" name="token" value="{{ token }}" />
   <input type="submit" name="submit" value="Reset Password" />
  </form>

{% endblock %}